<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<title>On Tap Seattle</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="theme-color" content="#fafafa">
	<link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet" type="text/css" />
	<style>
		th {
			cursor: pointer;
		}
	</style>
</head>

<body>
	<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<section class="section">
		<h1 class="title">On Tap Seattle</h1>
		<br />
		<br />

		<h2 class="subtitle">Flatstick</h2>
		<table class="table is-bordered is-striped is-fullwidth flatstick">
			<thead>
				<tr title="Click to sort!">
					<th>Beer</th>
					<th>Brewery</th>
					<th>Location</th>
					<th>Style</th>
					<th>ABV</th>
					<th>IBU</th>
					<th>Amount</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="has-text-centered loading" colspan="8">
						Loading Flatstick ratings...
						<progress class="progress is-small is-primary" max="100">15%</progress>
					</th>
				</tr>
			</tbody>
		</table>
		</div>

		<script>

			let keys = ["beer", "brewery", "location", "style", "abv", "ibu", "amount", "rating"];

			let createCell = (tr, contents) => {
				let td = document.createElement("td");
				td.innerHTML = contents || "";
				tr.appendChild(td);
			}

			(async function () {

				let data;

				try {

					data = await fetch("/flatstick");

				} catch (e) {
					console.warn(e);
					document.querySelector(".flatstick .loading").innerHTML = "Error!"
				}

				const tbody = document.querySelector(".flatstick tbody");
				data = await data.json();

				tbody.innerHTML = "";

				for (let datum of data) {
					let tr = document.createElement("tr");
					for (let key of keys) {
						createCell(tr, datum[key]);
					}
					tbody.appendChild(tr);
				}

			})();

		</script>

		<script>
			// Table sort
			const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

			const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
				v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
			)(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

			document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
				const table = th.closest('table');
				const tbody = table.querySelector('tbody');
				Array.from(tbody.querySelectorAll('tr'))
					.sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
					.forEach(tr => tbody.appendChild(tr));
			})));
		</script>

</body>

</html>