.card {
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.slim {
  font-size: 0.9em;
  color: #97969b;
  font-weight: 300;
  padding-bottom: 5px;
}

.title {
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 1.6em;
}

.data {
  font-size: 1.2em;
  font-weight: 500;
}
